body {
    font-family: "Roboto", sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #c6e8f1;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c6fa3;
    padding: 1em 1.5em;
}

header img,
header .logga {
    width: 130px;
    height: auto;
}

#menuIcon {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: block;
}

#menu-toggle {
    display: none;
}

#meny {
    position: fixed;
    top: 0;
    left: -220px;
    height: 100%;
    width: 200px;
    background-color: #2c6fa3;
    list-style-type: none;
    padding-top: 3rem;
    padding-left: 1rem;
    transition: left 0.3s ease;
    z-index: 1000;
}

#meny li {
    margin-bottom: 1.5rem;
}

#meny a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 0;
}

#menu-toggle:checked~#meny {
    left: 0;
}

.ellenBild {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 1rem;
}

p {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: justify;
    padding: 0.5rem;
}

h1,
h2,
h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: #2c6fa3;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

h2,
h3 {
    font-size: 1.6rem;
}

.bildspel {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

.grid-container {
    display: grid;
}

.slideshow-container {
    max-width: 350px;
    margin: 40px auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#slideshow-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.tillbakaBtn,
.n채staBtn,
.se-projekt-knapp {
    padding: 12px 25px;
    border: none;
    background-color: #2c6fa3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tillbakaBtn:hover,
.n채staBtn:hover {
    background-color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.knapp-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.projekt-kort h3 {
    color: #1aa4c6;
    font-size: 1.2rem;
    margin-top: 0;
    text-align: center;
}

#projekt-lista {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#projekt-modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

#projekt-modal.modal-dold {
    display: none;
}

/* Inneh책ll i modalen */
.modal-innehall {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* St채ng-knappen */
.stang-knapp {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    .item1 {
        grid-row: 1;
        grid-column: 1 /span 2;
    }

    .item2 {
        grid-row: 2;
        grid-column: 1;
    }

    .item3 {
        grid-row: 2;
        grid-column: 2;
    }

    .item4 {
        grid-row: 3;
        grid-column: 1 /span 2;
    }

    #projekt-lista {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    #menuIcon {
        display: none;
    }

    #meny {
        position: static;
        display: flex;
        flex-direction: row;
        background: #2c6fa3;
        height: auto;
        width: auto;
        padding: 0;
        margin-left: auto;
        transition: none;
    }

    #meny li {
        margin: 0 1rem;
    }

}