body {
    font-family: "Roboto", sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #c6e8f1;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c6fa3;
    padding: 1em 1.5em;
}

header img, header .logga {
    width: 130px;
    height: auto;
}

.ellenBild {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 1rem;
}

p{
    font-size: 1.2rem;
    margin: 1rem ;
    text-align: justify;
    padding: 0.5rem;
}

h1, h2{
    font-weight: 700;
    text-transform: uppercase;
    color: #2c6fa3;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

.bildspel {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

.grid-container{
    display: grid;
}

/* Styling för hela bildspels-containern */
.slideshow-container {
    max-width: 350px;
    margin: 40px auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Bilden i bildspelet */
#slideshow-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

/* Knapp-containern */
.button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

/* Knapparna */
.tillbakaBtn, .nästaBtn {
    padding: 12px 25px;
    border: none;
    background-color: #2c6fa3;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover-effekt på knapparna */
.tillbakaBtn:hover, .nästaBtn:hover {
    background-color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media only screen and (min-width: 800px){
    .item1{
        grid-row: 1;
        grid-column: 1 /span 2;
    }

    .item2{
        grid-row: 2;
        grid-column: 1;
    }

    .item3{
        grid-row: 2;
        grid-column: 2;
    }

    .item4{
        grid-row: 3;
        grid-column: 1 /span 2;
    }
}